<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-dark fs-5">Regístrate</h5>
                    <form [formGroup]="formRegistro" (ngSubmit)="submit()">

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="nombre" formControlName="nombre" required [class.is-invalid]="nombreNoValido">
                            <label for="floatingInput">Nombre de usuario</label>
                            <small *ngIf="nombreNoValido" class="text-danger">Nombre no válido</small>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="correo" formControlName="correo" required [class.is-invalid]="correoNoValido">
                            <label for="floatingInput">Correo eléctrónico</label>
                            <small *ngIf="correoNoValido" class="text-danger">Correo no válido</small>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="contrasena" formControlName="contrasena" required [class.is-invalid]="contrasenaNoValido">
                            <label for="floatingPassword">Contraseña</label>
                            <small *ngIf="contrasenaNoValido" class="text-danger">Contrasena no válido</small>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="contrasena2" formControlName="contrasena2" required [class.is-invalid]="contrasena2NoValido">
                            <label for="floatingPassword">Repite contraseña</label>
                            <small *ngIf="contrasena2NoValido" class="text-danger">La contraseña no coincide</small>
                        </div>

                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                            <label class="form-check-label" for="rememberPasswordCheck">Recordar contraseña</label>
                            <a routerLink="../login" class="btn btn-link">¿Ya tienes cuenta?</a>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Registrarse</button>
                        </div>

                        <hr class="my-4">

                        <div class="d-grid mb-2">
                            <button class="btn btn-google btn-login text-uppercase fw-bold" type="submit">
                            <i class="fab fa-google me-2"></i> Registrarse con Google</button>
                        </div>

                        <div class="d-grid">
                            <button class="btn btn-facebook btn-login text-uppercase fw-bold" type="submit">
                            <i class="fab fa-facebook-f me-2"></i> Registrarse con Facebook</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<pre>
    estado : {{ formRegistro.valid}}
</pre>
<br>
<pre>
    status: {{formRegistro.status}}
</pre>

<pre>
    {{formRegistro.value | json}}
</pre>